{% extends "::base.html.twig" %}

{% block title %}AppBundle:Pret:pret{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-md-9" id="customer-orders">
                <div class="box">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <td>Name</td>
                                <td>Description</td>
                                <td>Status</td>
                            </tr>
                            {% for pret in prets %}
                                <tr>
                                    <td>{{ pret.name }}</td>
                                    <td>{{ pret.description }}</td>
                                    <td> test </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
